*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    background: linear-gradient(135deg,#ffcf1b,#ff8b1b)center center fixed;
    background-size: cover;
}
.wrapper {
    width: 45%;
    min-width: 350px;
    position: absolute;
    margin: auto;
    top: 30px;
    left: 0;
    right: 0;
}
.container {
    width: 100%;
    background-color: #ffffff;
    padding: 30px 15px;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.15);
    position: relative;
}
.scores{
    margin-bottom: 50px;
    text-align: right;
}
.weapons{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.weapons button{
    background-color: #ffd51b;
    color: #ffffff;
    border: none;
    font-size: 40px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}
.details{
    margin-top: 30px;
    text-align: center;
}
.scores,.details{
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    font-size: 15px;
}
#result{
    width: 180px;
    padding: 10px 0;
    margin: 30px auto 0 auto;
    font-weight: 600;
    letter-spacing: 0.5px;
}
#user_choice,
#computer_choice{
    font-weight: 400;
    margin-bottom: 10px;
}
span {
    font-weight: 600;
}
